table, th, td {
	border: 1px solid #000000;
	border-collapse: collapse;
	padding: 6px;
	background-color: #3f6dcf;
}

h1 {
	font-size: 24px;
	text-decoration: underline;
}

div {
	font-size: 18px;
}

.row {
	display: flex;
}

.column {
	flex: 50%;
}

.warning {
	color: #ff0000;
}
