table, th, td {
	border: 1px solid #000000;
	border-collapse: collapse;
	font-size: 24px;
	padding: 8px;
}

.row {
	display: flex;
}

.column {
	flex: 50%;
}

.warning {
	color: #ff0000;
}
