table, th, td {
	border: 1px solid #000000;
	border-collapse: collapse;
	padding: 6px;
	background-color: #3f6dcf;
}

input[type=button] {
	background-color: #3f6dcf;
	border-radius: 2px;
	border: none;
	padding: 4px;
	font-size: 16px;
}

h1 {
	font-size: 24px;
	text-decoration: underline;
}

div {
	font-size: 18px;
	font-family: Calibri;
}

.row {
	display: flex;
}

.column {
	flex: 50%;
}
